@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  outline: '#EE9236' solid 2px;
}

body {
    @apply h-screen bg-gradient-to-t from-gr-top-blue to-gr-btm-blue ;
    background-attachment: fixed; /* Add this line to fix the background */
    background-size: cover; /* Ensures the background covers the entire viewport */
}

@layer utilities {
    .min-h-nav-adjust {
      min-height: calc(100vh - 6rem); /* Adjust '4rem' based on your navbar height */
    }
  }
